@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --primaryFont: Roboto, ui-system;
  --thinFont: 100;
  --regularFont: 300;
  --boldFont: 400;
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  font-weight: var(--regularFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

input {
  font-weight: inherit;
  border: none;
  outline: none;
}
